<div class="panel-group">
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">1. Age requirement ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          To join you need agree to the Terms & Conditions and be at least 18 years old or above. Most countries have their own rules regarding online gaming and so you must make sure you're aware of any regulations and adhere to their rules.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">2. How can I be certain games are fair ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          We have professionals to calculate the payout percentage for all our games, making sure that you can be certain that our games meet industry standard fairness regulations.
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">3. What is the minimum and maximum bet amount of {{websiteData.WebTitle}} ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          The minimum and maximum amount of bets will depend on the type of game table you choose also adjusted based on the unit of currency you use when registering for an account {{websiteData.WebTitle}}.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">4. How long does it take for bets to be settled ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          We aim to settle bets as quickly as possible, however for some events official confirmation of the result is necessary which may delay the settlement procedures.
        </p>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>
