<div class="floats floats-right">
  <div class="slider">
    <div class="fc">
      <div class="fc-left text-center">
       
          <h1 class="center">
            <i class="icon-headphones"></i>
          </h1>
       
         <div class="toptobottom center mt-2"  >Contact us</div>
 
      </div>
      <div class="fc-right center">
        <a class="text-center flex"><img class="img-center" src="assets/images/fc-247-en.png"/></a>
        <a class="mt-3 mb-2 btn btn-block fs-lg" href="#" id="btn-joinNow"> JOIN NOW </a>
        <a class="flex mb-2 bg-btn" href="#"><div><div class="button icon circle  min-circle" style="font-size:1.1rem;"><i class="icon-skype"></i></div></div><div class="pl-1">@JACBET</div></a>
        <a class="flex mb-2 bg-btn" href="#"><div><div class="button icon circle  min-circle" style="font-size:1rem;"><i class="icon-wechat"></i></div></div>
        <div class="pl-1"> @JACBET</div>
        <div>
          <!--<img src="http://chart.apis.google.com/chart?cht=qr&chs=128x128&chl=http%3A//jindo.dev.naver.com/collie&chld=H|0" />-->
          </div></a>
        <a class="mt-3 mb-2 bg-btn btn " href="#"  > <h5 class="mb-0">LIVE CHAT <i class="icon-chat text-primary-2" ></i>  </h5> </a>

        <a class="mb-2 flex flex-align-top ">
         <h3><i class="icon-clock"></i></h3>
         <div class="pl-2 font-size-sm "><span>Quick Easy Deposit</span><br /><span>Fast withdraw</span></div>
        </a>
      </div>
    </div> 
  </div>
</div>




<div class="floats floats-left">
  <div class="slider">
    <div class="fc"> 
      <div class="fc-left pt-5">
    

        <a (mouseover)="changeImg=true" (mouseout)="changeImg=false">
          <img src="{{changeImg?'assets/images/computer_on.png':'assets/images/computer_off.png'}}">
        </a>
      </div> 
      <div class="fc-right text-center">

        <h1 class="center">
          <i class="icon-download"></i>
        </h1>

        <div class="toptobottom center mt-2">Download</div>

      </div>
    </div>
  </div>
</div>
