<div class="panel-group">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">1. About {{websiteData.WebTitle}}</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          {{websiteData.WebTitle}} is an online entertainment brands that serve the Asia Pacific market, especially Indonesia, Malaysia and China. Products offered primarily on a variety of online games such as online football betting, online casino, slots, keno and lottery, binary, poker and other games.
          <br><br>
          Registered with the license Regulator First Cagayan Leisure and Resort Corporation <a href="https://www.firstcagayan.com" target="_blank">( www.firstcagayan.com )</a> for the Cagayan Economic Zone Authority of the Philippine government, making {{websiteData.WebTitle}} one of the leading casinos in Asia.
          <br><br>
          {{websiteData.WebTitle}}'s vision is to provide premium quality entertainment and high value game to its customers. {{websiteData.WebTitle}} committed to provide industry-leading products of the game that always supported by any promotions. Group of professional staff provided to ensure that by playing in {{websiteData.WebTitle}}, you will always get the best experience here.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">2. Why {{websiteData.WebTitle}}?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          Along with the continuous promotions {{websiteData.WebTitle}} offers the best odds in the at least 1,000 various types of market leading online sportbook games such as football league starts from UK, Spain, Europe, Germany as well as other sports such as NBA, NFL, NCAA, Tennis, F1, and other sports betting. Other than sport betting, {{websiteData.WebTitle}} also provides a variety of live games, supported by a casino live dealer, through a Live Casino Lobby, you will be brought to the Live Baccarat, Live Sic Bo, Live Dragon Tiger, Live Roulette, Live Casino Slots and other interesting games.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">3. Affiliates?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          Be our partner and get the high value attractive commissions every month by inviting your friends to play at {{websiteData.WebTitle}}. Click <a routerLink="TODO">here</a> on how to become our affiliate.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">4. How To Join?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">

        <p>Join as MEMBER or AGENT</p>
        <ol type="a">
          <li>
            <strong>MEMBER :</strong><br>
            <ol>
              <li>Login to {{websiteData.WebTitle}} website, select menu "JOIN"</li>
              <li>Fill in the registr tion form provided. All the information required by the valid/correct data, then select "SUBMIT"</li>
              <li>Confirmation email will be sent to the registered email and it is intended to confirm the registered user name and password.</li>
              <li>Return to {{websiteData.WebTitle}} site, select "LOGIN"</li>
              <li>You can continue to the next step which to be initiated from the funds deposit.</li>
            </ol>
          </li>
          <br>
          <br>
          <li>
            <strong>AGENT :</strong><br>
            <ol>
              <li>Login to {{websiteData.WebTitle}} website, select menu "AFFILIATE"</li>
              <li>Fill in the registration form provided. All the information required by the valid/correct data, then select "SEND"</li>
              <li>Confirmation email will be sent to the registered email and it is intended to confirm and activate the registered user name and password.</li>
              <li>Submitted form will go through a selection process by {{websiteData.WebTitle}}.</li>
              <li>Successful applicant will be contacted by {{websiteData.WebTitle}} via email, related to predetermined {{websiteData.WebTitle}} Affiliation terms and conditions.</li>
            </ol>
          </li>
        </ol>

      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">5. What are the supported currencies in {{websiteData.WebTitle}}?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          {{websiteData.CurrenyCode}} ->  {{websiteData.CurrenyName}}
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">6. Age requirement ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          To join you need agree to the Terms & Conditions and be at least 18 years old or above. Most countries have their own rules regarding online gaming and so you must make sure you're aware of any regulations and adhere to their rules.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">7. How do I make a deposit on account {{websiteData.WebTitle}} ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          Funds may be deposited into your {{websiteData.WebTitle}} member account through a number of methods. More details info see <a routerLink="TODO">here</a>.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">8. How can I be certain games are fair ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          We have professionals to calculate the payout percentage for all our games, making sure that you can be certain that our games meet industry standard fairness regulations.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">8. Is my personal information secure ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
         We will makes sure that your details are secure all of the time. We use the best quality security measures Secure Socket (SSL 128 bit enkripsi Standar) (SSL 128 bit encryption Standard) and is stored in secure operating environments that allow customer making payments online has never been safer. {{websiteData.WebTitle}} will not disclose your personal information to any third party.
        </p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
