<div class="container-wrapper">
  <div class="container container-box noSidePadding">
    <div class="title">Register Success</div>
    <div class="content">
      <p>
        Welcome to {{websiteData.WebTitle}}, and thank you for opening an account.
      </p>
      <p>

        Your account is now ready for you to login and play on {{websiteData.WebURL}} and mobile {{websiteData.MobileURL}}.
      </p>

      <div>
        Depositing is Quick and Easy. We have a huge range of deposit options available.

      </div>
      <div>
        <a href="#" class="btn btn-primary">DEPOSIT NOW</a>
      </div>
      <div class="dialog arrow-top fs-sm">
        Deposit name must be the same as the registered name on your W88 account. Please refer to Terms & Condition.
        <div class="row">
          <div class="col-3">
            <div>Method:</div>
            <ul>
              <li>Automated Teller Machine (ATM)</li>
              <li>Online Banking</li>
              <li>Over The Counter Service</li>
            </ul>
          </div>
          <div class="col-2">
            <div>Transaction Limit (MYR) :</div>
            <ul>
              <li>Min. 30.00 </li>
              <li>Max. 25,000.00</li>
            </ul>

          </div>
          <div class="col-6">
            If you have any queries or problems when making a deposit, please <a routerLink="/contact-us">Contact Us </a>.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
