<ul>
  <li>
    <h5>Step 1 :</h5>
    <div>
      <span>
        Click the download button.
      </span>
    </div>
  </li>
  <li>
    <h5>Step 2 :</h5>
    <div>
      <span>
        Run and install the file after download.
      </span>
    </div>
  </li>
  <li>
    <h5>Step 3 :</h5>
    <div> 
        Run and install the file after download. 
    </div>
    <div>
        Login by adding the "{{gamePrefix}}" in front of your {{WebTitle}} Username
    </div>
  </li>
  <li>
    <h5>Example :</h5>
    <div>
      <span> 
        Your username is Lucky then you need login using {{gamePrefix}}_Lucky 
      </span>
    </div>
  </li>
</ul>
