<div class="panel-group">
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">2. How to do a fund deposit for {{websiteData.WebTitle}} account?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          Fund deposit can be transferred via debit card or bank transfer.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">3. What currencies are acceptable by {{websiteData.WebTitle}}?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          {{websiteData.WebTitle}}  currently only accept {{websiteData.CurrenyCode}} ->  {{websiteData.CurrenyName}} for transactions.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">4. Can I use more than one bank account for deposit transactions?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          There are no provisions on the number of bank account used for deposit transactions, however the full name of the depositor of bank account must be same with account name listed in {{websiteData.WebTitle}}. Please note that {{websiteData.WebTitle}} has a right to refuse any kind of transaction conducted by a third party name.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">5. Is the transfer/payment slip need to be sent to {{websiteData.WebTitle}} after I transfer funds via bank?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          It is not a mandatory, but in certain situations, your payment slip is needed to simplify the process of your transaction.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">5. How long does it take to process the deposit transaction?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          Deposit transaction will be processed within 5 (five) minutes after we received your funds. When the account verification is needed for some case, the processing time starts after the verification has been complete.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">6. Where can I get the information of {{websiteData.WebTitle}} account number and how much is the minimum deposit amount?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          Please contact our customer service (online 24 hours) to obtain information regarding the account number and the minimum amount for the deposit transaction.
        </p>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">7. How to deposit</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p><b>Deposit Instructions:</b></p>
        <ol>
          <li>Contact our Customer Service (online 24 hours) to obtain information about the {{websiteData.WebTitle}} deposit account number.</li>
          <li>Please login to {{websiteData.WebTitle}} website and select "Transaction > Deposit" on menu bar.</li>
          <li>Deposit form must be filled by using a valid and correct data.</li>
          <li>Fill the deposit amount without any dot/comma symbol. Ex: 1000 (one thousand ringgit)</li>
          <li>Enter the correct date and time (am/pm)</li>
          <li>Choose selected promotion, if any.</li>
          <li>Select "submit" and please be waited while your deposit is being processed.</li>
          <br>
        </ol>
      </div>
      <p>
        <strong>
          Please note that any deposit transaction (in/out of promotion) should be adjusted to predetermined policies. {{websiteData.WebTitle}} has a right to refuse any kind of transaction if it does not comply with the policy. For further information please contact our customer service representative (online 24 hours).
        </strong>
      </p>
    </mat-expansion-panel>

  </mat-accordion>
</div>
