@import "variables";

.modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 1031; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */ /*change to vw unit as mobile side nav creates overflow body content out of screen*/
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  background-color: app-color(background,light);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0px;
  border: none;
  width: 30%; /* Could be more or less, depending on screen size */
  border-radius: $border-radius;
  background-clip: unset;
  background: inherit;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
}

.modal-content:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  filter: blur(10px);
  margin: -20px;
}
 
/* The Close Button */
.close {
  color:white;
  font-size: 28px;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.header {
 
  overflow: hidden;
  color: #fff;
}
h3 {
  float: left;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
 
}

.close:hover,
.close:focus { 
  color:currentColor;
  text-decoration: none;
  cursor: pointer;
}

.body {
  text-align: center;
  padding-top: 1rem;
  font-size:1rem;
}
.alert-msg {
  color: text-color(background,dark);
}
.alert-detail {
  font-size: 0.7rem;
  color: text-color(background,dark);
}

.ico-alert {
  padding-bottom: 0.5rem;

  & i {
    font-size: 64px;
  }
}

.footer {
  text-align: center;
  padding-bottom: 0.5em;
  /*TODO variables*/
  & button {
    box-shadow: 0 0 0 0.125em #f2f4f6, 0 0 0 0.25em #a7adb2;
    min-width: 5em;


    &:hover {
      box-shadow: none;
    }
  }
}



/*.footer-btn {
  float: right;
  padding-bottom: 15px;
  padding-right: 15px;
}*/




hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}



@media screen and (max-width: map-get($grid-breakpoints, md)) {
  .modal-content {
    width: 90%;
    margin-top: 30%;
  }
}
