@import "variables";
:host .container-box .title {
  padding: 0.7em 1.2em;
  background-color: app-color(background,light);
}


:host {

  .content {
    padding: 15px;
  }

  .container-wrapper {
    background-color: app-color(foreground,dark);
  }
}

:host .container {
  background-color: app-color(foreground,base);
  top: 2em;
  position: relative;
}
