
@import "variables";
:host .nav-wrapper {
  background-color: app-color(primary,base);
}
.main-nav {
  overflow: hidden;
  /*font-family: Arial, Helvetica, sans-serif;*/
  line-height: 1.15;

  & .nav-item {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    flex: none;
    flex-basis: auto;
  }
}




.nav-item .navlink {
  border: none;
  outline: none;
  color: text-color(primary,base);
  background-color: inherit;
  /*font: inherit;*/
  width: 100%;
  /*padding: 14px 16px;*/
  display: block;
  height: 3.5em;
  cursor: pointer;
  text-decoration: none !important;
  text-align: center;
  vertical-align: middle;
  line-height: 3.5em;
  padding-left: 1.275em;
  padding-right: 1.275em;
  /*&:before {
    content: '';
    
    display: inline-block;
    vertical-align: middle;
  }*/
  & i {
    color: inherit;
    font-size: 1.2rem;
    vertical-align: middle;
    line-height: 2em;
  }

  & span {
    vertical-align: middle;
    line-height: 3.5em;
  }
}

.main-nav a:hover, .nav-item:hover .navlink, .main-nav a.active {
  background-color: app-color(primary,dark);
}

.navcontent_button_play {
  height: 0;
  overflow: hidden;
}
.nav-item-content {
  display: none;
  position: absolute;
  background-color: app-color(primary,dark);
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 111;
  border-bottom: $spacing--default solid app-color(primary,base);

  & .header {
    background: red;
    padding: 16px;
    color: white;
  }

  .nav-item:hover & {
    display: block;
  }

  & a {
    text-decoration: none;
    display: block;
    height: 100%;
    color: #fff;
    position: relative;
    z-index: 3;

    &::after {
      content: "";
      display: block;
      position: absolute;
      opacity: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -moz-transition: opacity 0.5s ease-in-out;
      -webkit-transition: opacity 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      background: -moz-radial-gradient(center, ellipse cover, #38C0FF 17%, #34B4EF 27%, #32AFE8 31%, #2A95C6 52%, #288FBE 57%, #1B607F 97%); /* ff3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(17%, #38C0FF), color-stop(27%, #34B4EF), color-stop(31%, #32AFE8), color-stop(52%, #2A95C6), color-stop(57%, #288FBE), color-stop(97%, #1B607F)); /* safari4+,chrome */
      background: -webkit-radial-gradient(center, ellipse cover, #38C0FF 17%, #34B4EF 27%, #32AFE8 31%, #2A95C6 52%, #288FBE 57%, #1B607F 97%); /* safari5.1+,chrome10+ */
      background: -o-radial-gradient(center, ellipse cover, #38C0FF 17%, #34B4EF 27%, #32AFE8 31%, #2A95C6 52%, #288FBE 57%, #1B607F 97%); /* opera 11.10+ */
      background: -ms-radial-gradient(center, ellipse cover, #38C0FF 17%, #34B4EF 27%, #32AFE8 31%, #2A95C6 52%, #288FBE 57%, #1B607F 97%); /* ie10+ */
      background: radial-gradient(ellipse at center, #38C0FF 17%, #34B4EF 27%, #32AFE8 31%, #2A95C6 52%, #288FBE 57%, #1B607F 97%); /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38C0FF', endColorstr='#1B607F',GradientType=1 ); /* ie6-9 */
      background-image: radial-gradient(circle, #38c0ff, #30a7dd, #288fbd, #21779d, #1b607f);
    }
  }
  /*TODO use variables*/
  & a:hover:not(.disableHover) {
    /*transition: background 20s ease-out;*/
    &::after {
      opacity: 1;
      z-index: -1;
    }

    & .navcontent_button_play {
      color: white;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      background: app-color(primary,dark);
      height: auto;
    }
  }
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}*/



.auto-box {
  margin: $spacing--smaller $spacing--smaller;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}
.flex-row {
  &:first-of-type {
    margin-top: $spacing--smaller;
  }

  &:last-of-type{
    margin-bottom: $spacing--smaller;
  }
}
