
@import "variables";
.container-box .title {
  padding: 0.7em 1.2em;
  background-color: app-color(background,light);
}
 

.content {
  padding: 15px;
}

.container-wrapper {
  background-color: app-color(background,light);
}

.container {
  background-color: app-color(foreground,light);
  top: 2em;
  position: relative;

  & .head-content {
    padding: 5px;
    margin-top: 0.7em;
  }
}


.icon-shield {
  font-size: 4rem;
  color: text-color(background,base);
}

.icon-repeat {
  font-size: 1rem;
  color: text-color(background,dark);
}


.acc_safety_info {
  padding-top: 0.4em;

  & .info-2 {
    padding-top: 0.3em;
    font-size: 1.8rem;
  }

  & i {
    padding-right: 0.4em;
    color: text-color(background,light);
  }
}


.divider {
  border-color: text-color(background,base);
  margin-left: 3%;
  margin-right: 3%;
}


ul.account_menu {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 5px;

  & li {
    float: left;

    & a {
      color: text-color(background,dark);
      border: 1px solid text-color(background,base);
      position: relative;
      display: block;
      text-align: center;
      height: 30px;
      line-height: 30px;
      width: 94px;
      margin: 0px 2px;
      font-weight: bold;
    }
  }
}




.btn-active {
  color: text-color(background,dark);
  border: 1px solid text-color(background,dark);
  background-color: app-color(background,light);
}

.total-bal-box {
  white-space: nowrap;
  word-break: break-word;
  text-align: center;

  & .d-inline-block {
    vertical-align: middle;
  }
}



html, body, .content, .container-wrapper {
  height: 100% !important;
}



:host-context(.mobile) {

  .container {
    top:0;
  }
}
