

<div class="container-wrapper ">
  <div class="container container-box">
    <div class="info-nav nav-icon">
      <div class="row no-gutters">
        <div class="col-3">
          <a routerLink="/info/faq" routerLinkActive="active">
            <i class="icon-help-circle"></i>
            <br />  <br />
            FAQ
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/Faq" routerLinkActive="active">
            <i class="icon-list-numbered"></i>
            <br />  <br />
            HOW TO JOIN
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/Faq" routerLinkActive="active">
            <i class="icon-clipboard1"></i>
            <br />  <br />
            AFFILIATES
          </a>
        </div>
        <div class="col-3">
          <a routerLink="/info/termsconditions" routerLinkActive="active">
            <i class="icon-clipboard"></i>
            <br />  <br />
            TERMS & CONDITIONS
          </a>
        </div>
  
      </div>
    </div>
    <router-outlet>

    </router-outlet>
  </div>
</div>
