

  <div class="row justify-content-center" >
    
    <form *ngIf="!isSuccess" [formGroup]="chgPwdForm" (ngSubmit)="onSubmitChgPwd()" novalidate [ngClass]="{'needs-validation was-validated':isFormSubmitted,'needs-validation':!isFormSubmitted }">

      <div class="form-group row no-gutters">
        <label for="CurrentPwd" class="col-md-5 col-form-label text-left">Current Password<span class="text-danger">&nbsp;*&nbsp;</span></label> <!--TODO currency-->
        <div class="col-md-7">
          <input type="password" formControlName="CurrentPwd" class="form-control" id="CurrentPwd" placeholder="" required maxlength="255">
          <div *ngIf="CurrentPwd.invalid && (isFormSubmitted||CurrentPwd.dirty || CurrentPwd.touched)"
               class="invalid-feedback">
            <div *ngIf="CurrentPwd.errors.required">
              Current Password is required.
            </div>

          </div>
        </div>
      </div>
      <div class="form-group row no-gutters">
        <label for="NewPwd" class="col-12 col-md-5 col-form-label  text-left">New Password<span class="text-danger">&nbsp;*&nbsp;</span></label> <!--TODO currency-->
        <div class="col-12 col-md-7">
          <input type="password" formControlName="NewPwd" class="form-control" id="NewPwd" placeholder="" required maxlength="255">
          <div *ngIf="NewPwd.invalid && (isFormSubmitted||NewPwd.dirty || NewPwd.touched)"
               class="invalid-feedback">
            <div *ngIf="NewPwd.errors.required">
              New Password is required.
            </div>
            <div *ngIf="NewPwd.errors.pattern">
              New Password must contain at least each one uppercase &Aacute; lowercase aplhabet, one digit and one special character.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row no-gutters">
        <label for="ConfirmPwd" class="col-12  col-md-5 col-form-label  text-left">Confirm Password<span class="text-danger">&nbsp;*&nbsp;</span></label> <!--TODO currency-->
        <div class="col-12  col-md-7">
          <input type="password" formControlName="ConfirmPwd" class="form-control" id="ConfirmPwd" placeholder="" required maxlength="255" pattern="{{NewPwd.value}}">
          <div *ngIf="ConfirmPwd.invalid && (isFormSubmitted||ConfirmPwd.dirty || ConfirmPwd.touched)"
               class="invalid-feedback">
            <div *ngIf="ConfirmPwd.errors.required">
              Confirm Password is required.
            </div>
            <div *ngIf="ConfirmPwd.errors.pattern">
              Confirm Password must match the New Password.
            </div>

          </div>
        </div>
      </div>
      <div class="form-group row no-gutters mt-3">
        <div class="col-12  col-5"></div>
        <div class="col-12 col-7">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>

    <div *ngIf="isSuccess">
      Successfully change password
    </div>
  </div>
