@import "variables";

.side-bar {
  height: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  right: 0;
  overflow-x: hidden;
  background-color: $right-side-bg--sm;
  /*transition: 0.3s;
  transform: translate3d(-100%,0,0);
  visibility: hidden;*/
}
