<div class="footer-content clearfix">
  <br />
  <div>
    <div class="float-right footerlink">
      <ul class="clearfix">
        <li>
          <div class="copyright">
            ©2019 {{websiteData.WebTitle}}. All rights reserved | 18+
          </div>
        </li>
      </ul>
    </div>
    <div class="footerlink"> 
      <ul class="clearfix">
        <li><a href="https://www.w88boleh.com/AboutUs/">About Us</a></li>
        <li>|</li> 
        <li><a href="javascript:load_info('/responsibleGaming_en.shtml');">Responsible Gaming</a></li>
        <li>|</li>
        <li><a href="javascript:load_info('/FAQ_general_en.shtml');">Info Centre</a></li>
        <li>|</li>
        <li><a href="https://www.w88boleh.com/ContactUs.aspx">Contact Us</a></li>
        <li>|</li>
        <li><a type="affiliate" href="https://affiliate.w88boleh.com" rel="nofollow">Affiliates</a></li>
  

      </ul>
    </div>
  </div>
  <div style="height: 5px; margin-top: 15px;" class="dotted_line"></div>
  <br />
  <br />
  <div class="footer-misc">
    <div class="row" style="flex-wrap:nowrap;justify-content:space-between;">
      <div class="col-lg-3 col-md-6 col-12">
        <div class="title">INFORMATION</div>
        <div style="height: 5px; margin-top: 15px;" class="dotted_line"></div>
        <div class="box-wrapper mt-4">
          <div class="subtitle">Registration</div>
          <div class="box-content mt-2">Join {{this.websiteData.WebTitle}} to experience an amazing and interesting game. Enjoy satisfaction with bonuses and promotions on our site.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Affiliation</div>
          <div class="box-content mt-2">Become our partner by joining affiliates {{this.websiteData.WebTitle}}. Get your income and commission every month by inviting your friends to play on {{this.websiteData.WebTitle}}.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Responsible Games</div>
          <div class="box-content mt-2">{{this.websiteData.WebTitle}} offering the best online games with full responsibility and fairplay games. Security is always our priority.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Security</div>
          <div class="box-content mt-2">
            <div class="box-content mt-2">{{this.websiteData.WebTitle}} offering the best online games with full responsibility and fairplay games. Security is always our priority.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="title">PRODUCT</div>
        <div style="height: 5px; margin-top: 15px;" class="dotted_line"></div>
        <div class="box-wrapper mt-4">
          <div class="subtitle">Sportsbook & Live Betting</div>
          <div class="box-content mt-2">Get thousands of sports opportunities every day on {{this.websiteData.WebTitle}}. Possibilities for the most popular sports such as soccer, basketball, tennis, hockey are available with Live Bets every day.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Online Casino</div>
          <div class="box-content mt-2">{{this.websiteData.WebTitle}} provides the best online casino games like Baccarat, Blackjack, Roulete, Sic Bo, Poker, and other popular games at online casinos.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Live Casino</div>
          <div class="box-content mt-2">Play at live casino {{this.websiteData.WebTitle}} and You will feel the real casino sensation. Choose the various casino games you want.</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="title">INFO CENTER</div>
        <div style="height: 5px; margin-top: 15px;" class="dotted_line"></div>
        <div class="box-wrapper mt-4">
          <div class="subtitle">Promotion</div>
          <div class="box-content mt-2">Get lots of promotions from {{this.websiteData.WebTitle}} like welcome bonuses, deposit bonuses and cash discounts. Feel satisfied by joining a promotion {{this.websiteData.WebTitle}}.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Help</div>
          <div class="box-content mt-2">If you have a problem when you play online gambling on {{this.websiteData.WebTitle}}, you can contact us immediately, and we are always ready to help you 24 hours.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Transaction Method</div>
          <div class="box-content mt-2">{{this.websiteData.WebTitle}} providing local and international banks to make it easier for every customer to deposit and withdraw. The transaction method is guaranteed to be safe, fast and reliable.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Contact us</div>
          <div class="box-content mt-2">
            <div class="box-content mt-2">You can contact {{this.websiteData.WebTitle}} at any time if you have questions and problems. You can contact us via livechat, text, telephone, BBM, Skype, or email. Our staff is always ready 24 hours for you.</div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="title">BETTING INFO</div>
        <div style="height: 5px; margin-top: 15px;" class="dotted_line"></div>
        <div class="box-wrapper mt-4">
          <div class="subtitle">Sports Match Results</div>
          <div class="box-content mt-2">Complete results of your sports betting are available on {{this.websiteData.WebTitle}}. Get the latest results that you play in your history.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Betting Statistics</div>
          <div class="box-content mt-2">Access all the sports betting details that you play and check the history of bets in full on {{this.websiteData.WebTitle}}.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Sports gambling</div>
          <div class="box-content mt-2">Bet on sports games, get complete obstacles every day and feel the fun with sportsbook {{this.websiteData.WebTitle}}.</div>
        </div>
        <div class="box-wrapper mt-4">
          <div class="subtitle ">Casino Betting</div>
          <div class="box-content mt-2">
            <div class="box-content mt-2">Feel the luxury of casino betting, complete the full betting history you have played. Casino gambling on {{this.websiteData.WebTitle}}, fast, safe and enjoyfull.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 5px; margin-top: 15px;" class="dotted_line"></div>
  <div class="clearfix mt-3">
    <div class="float-left social-icons">
      <a [href]="websiteData.SocialHandles.FacebookUrl" target="_blank" tooltip="Follow on Facebook" class="button icon circle is-outline facebook"><i class="icon-facebook"></i></a>

      <a [href]="websiteData.SocialHandles.TwitterUrl" target="_blank" tooltip="Tweet us!" class="button icon circle is-outline twitter"><i class="icon-twitter"></i></a>
      <a [href]="websiteData.SocialHandles.InstagramUrl" target="_blank" tooltip="Instagram us!" class="button icon circle is-outline instagram"><i class="icon-instagram"></i></a>
      <a [href]="websiteData.SocialHandles.YoutubeUrl" target="_blank" tooltip="See our youtube video to know more!" class="button icon circle is-outline youtube"><i class="icon-youtube-play"></i></a>
    </div>
    <div class="float-right text-left footerlink">
      <div class="small">
        Powered by
      </div>
      <ul class="pw-by mt-2"> 
        <li><a class="logo_cmd" href="#"></a></li>
        <li><a class="logo_ag" href="#"></a></li>
        <li><a class="logo_gp" href="#"></a></li>

      </ul>
    </div>
  </div>
  <div style="height: 5px; margin-top: 15px;" class="dotted_line"></div>
  <div class="clearfix mt-3">
    <div class="float-left footerlink">
      <div class="small">
        Payment Method
      </div>
      <ul class="payment_imgs mt-2">
        <li><img src="assets/images/payment_methods/bank_mega.png" /></li>
        <li><img src="assets/images/payment_methods/bca.png" /></li>
        <li><img src="assets/images/payment_methods/bii.png" /></li>
        <li><img src="assets/images/payment_methods/bri.png" /></li>
        <li><img src="assets/images/payment_methods/bni.png" /></li><br />
        <li><img src="assets/images/payment_methods/cimb.png" /></li>
        <li><img src="assets/images/payment_methods/cimbniaga.png" /></li>
        <li><img src="assets/images/payment_methods/citibank.png" /></li>
        <li><img src="assets/images/payment_methods/dana.png" /></li>
        <li><img src="assets/images/payment_methods/danamon.png" /></li> <br />
        <li><img src="assets/images/payment_methods/eeziepay.png" /></li>
        <li><img src="assets/images/payment_methods/hongleong.png" /></li>
        <li><img src="assets/images/payment_methods/hsbc.png" /></li>
        <li><img src="assets/images/payment_methods/mandiri.png" /></li>
        <li><img src="assets/images/payment_methods/maybank.png" /></li><br />
        <li><img src="assets/images/payment_methods/ocbc.png" /></li>
        <li><img src="assets/images/payment_methods/ovo.png" /></li>
        <li><img src="assets/images/payment_methods/paytrust.png" /></li>
        <li><img src="assets/images/payment_methods/public_bank.png" /></li>
        <li><img src="assets/images/payment_methods/rhb.png" /></li><br />
        <li><img src="assets/images/payment_methods/uob.png" /></li> 
      </ul>
    </div>
    <div class="float-right text-right footerlink">
      <div class="small">
       Suggested Browser
      </div>
      <ul class="text-t600   mt-2">
        <li><h2><i class="icon-chrome"></i></h2></li>
        <li><h2><i class="icon-firefox"></i></h2></li>
        <li class="pr-0"><h2><i class="icon-safari"></i></h2></li>
      </ul>
    </div>
  </div>

  <br />
  <br />
</div>
