<div class="container">
  
  <div class="referral">
    <div class="table-responsive">
      <table class="table table-default ">
        <thead>
          <tr>
            <th>
              Referral Commission
              Structure
            </th>
            <th>
              Number of
              Active Member
              Monthly Based on
              Games Turnover
            </th>
            <th><div>GROUP A</div><div>Sportsbook</div></th>
            <th><div>GROUP B</div><div>Live Casino</div></th>
            <th><div>GROUP C</div><div>Slots</div></th>
            <th><div>GROUP D</div><div>Poker</div></th>
          </tr>
        </thead>
        <tbody>
          <tr class="first-child">
            <td>Referral III</td>
            <td>No Term & Condition</td>
            <td>0.8%</td>
            <td>0.8%</td>
            <td>0.8%</td>
            <td>0.8%</td>
          </tr>
          <tr class="first-child">
            <td>Referral II</td>
            <td>No Term & Condition</td>
            <td>0.12%</td>
            <td>0.12%</td>
            <td>0.12%</td>
            <td>0.12%</td>
          </tr>
          <tr class="first-child">
            <td>Referral I</td>
            <td>No Term & Condition</td>
            <td>0.7%</td>
            <td>0.3%</td>
            <td>0.3%</td>
            <td>0.3%</td>
          </tr> 
        </tbody>
      </table>
    </div>
    <ul>
      <li>All members can join the promo.</li>
      <li>The referral bonus is not valid for members who still follow extra bonuses & freebets.</li>
      <li>The percentage level of your commission is determined based on the number of TURNOVER members of your downline every month.</li>
      <li>There is no maximum or minimum limit on how much you want to invite new members, the more members of your downline the more profit you will get.</li>
      <li>Every new member is required to fill in your referral ID code.</li>
      <li>The referral ID code can be viewed from the MY ACCOUNT menu contained in the Profile.</li>
      <li>We offer the best products such as: C-Sport, I-Sport, O-Sport, Live Casino, Slots, Loterry, Poker.</li>
      <li>
        Referral commissions will be calculated and given at the beginning of the month on the 5th
        <div> <img [src]="BASE_MEDIA_URL+'/referral/img-promotion-referral-tree.png'" /></div>
      </li>
      <li>
        You (MEMBER / REFERRAL) invite friends to join to become new members and play on Jacbet, you automatically get REFERRAL I commission (0.3% in GROUP A, 0.18% in GROUP B, C, D).
      </li>
      <li>If your friend (REFERRAL I) also invites or introduces new members again (REFERRAL II) then REFERRAL I members will also get a commission (0.3% in GROUP A, 0.18% in GROUP B, C, D) automatically your commission rate increases from commission REFERRAL I added REFERRAL II (0.3% + 0.12% in GROUP A) (0.18% + 0.09% in GROUP B, C, D).</li>

      <li>If your friend from (REFERRAL II) also invites or introduces new members again, then REFERRAL II will also get a commission (0.3% in GROUP A, 0.18% in GROUP B, C, D) and REFERRAL I members also get a commission of (0.3 % + 0.12% in GROUP A), (0.18% + 0.09% in GROUP B, C, D) Your commission rate will automatically increase from the REFERRAL I + REFERRAL II + REFERRAL III commission.</li>
      <li>The overall maximum is 0.5% (GROUP A) & 0.3% (GROUP B, C, D)</li>
    </ul>
  </div>
</div>
