<div class="panel-group">
  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header [collapsedHeight]="'49px'" [expandedHeight]="'49px'">
        <mat-panel-title>
          <h5 class="panel-title">1. I have problems loading some of the content of the website. How can I solve this issue ?</h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="panel-body">
        <p>
          There is a known issue with older versions of Adobe Flash Player while displaying Flash graphics. We advice you update your Flash Player and your browser.
        </p>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>
