@import "variables";
div.bottom_text {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}


div.opacity_background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #252525;
  top: 0;
  left: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.80;
  opacity: 0.80;
}
.games-container {
  background-color: app-color(background,base);
  /*padding:15px;*/
  padding-right: 15px;
  padding-bottom: 15px;

  
}
div.opacity_content {
  position: relative;
  overflow: hidden;
}


.game-box-wrap {
  padding-top: 15px;
  padding-left: 15px;

  & img {
    background-color: app-color(background,base);
    width: 100%;
    max-height: 240px;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
  }
} 

.game-box-wrap:hover {
  & .bottom_text {
    display: block !important;
  }
}



.static-carousel {
  position: relative;

  img {
    width: 100%;
    max-height: 400px;
  }

  .opacity_content {
    position: absolute;
    height: 100%;
    width: 100%; 
    top: 0;
    left: 6em;
  }
}

